@import "../variable.scss";
#platform-layout-styles {
  .container-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    div {
      max-width: $xxl;
      width: 100%;
    }
  }
}
