@import "../variable.scss";
// $color_1: #ffffff;
$hover-table-color: #ddd;


#platform-page-styles {
  opacity: 0; // Start with opacity at 0
  animation: fadeIn 0.5s linear forwards;

  @keyframes fadeIn {
    0% {
      opacity: 0; // Start with opacity at 0
    }
    100% {
      opacity: 1; // End with opacity at 1
    }
  }

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

  .layout {
    width: 100%;

    @media (max-width: $md) {
      width: 96%;
    }
  }

  .description {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    span {
      padding: 0px 20px;
      max-width: 500px;
    }
  }

  .search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }

  .customer-table-contaienr {
  }
  .product-table {
    border-collapse: collapse;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;

    td {
      border: 1px solid $hover-table-color;
      padding: 8px;
    }
    th {
      border: 1px solid $hover-table-color;
      padding: 8px;
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: $primary-color;
      color: $on-primary-color;
    }
    tr {
      &:nth-child(even) {
        background-color: $background-color;
      }
      &:hover {
        background-color: $hover-table-color;
      }
    }
  }
}
