// colors
$primary-color: #b5482a;
$background-color: #f0f2f5;
$text-color: #ffffff;

$fs1: 24px;
$fs2: 18px;
$fs3: 16px;

// bootstrap values
$xxl: 1400px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 0px;
